---
title: Home
---

<!--  Here is where the chart is generated/stored. We can add new columns relatively easily. -->
<div id="fundraising-progress-chart">
	<table class="charts-css column show-labels show-primary-axis show-heading show-5-secondary-axes">
	  <caption> <b>PCBakers fundraising cumulative total</b> </caption>
	  <tbody>
		  <th scope="row">May</th>
		  <td style="--size: calc( 1015.50 / 10000 )">
			<span class="data">€1015</span>
			<span class="tooltip">€1015.50 raised in first bake sale in May, 2022</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row">Jun</th>
		  <td style="--size: calc( 1999.95 / 10000 )">
			<span class="data">€1999</span>
			<span class="tooltip">€984.45 raised in June, 2022</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row">Jul</th>
		  <td style="--size: calc( 2751.95 / 10000 )">
			<span class="data">€2751</span>
			<span class="tooltip">€752 raised in July, 2022</span>
		  </td>
		</tr>				
		  <th scope="row">Sep</th>
		  <td style="--size: calc( 3575.15 / 10000 )">
			<span class="data">€3575</span>
			<span class="tooltip">€823.20 raised in September, 2022</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row">Oct</th>
		  <td style="--size: calc( 4274.65 / 10000 )">
			<span class="data">€4274</span>
			<span class="tooltip">€699.50 raised in October, 2022</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row">Nov</th>
		  <td style="--size: calc( 4875.65 / 10000 )">
			<span class="data">€4875</span>
			<span class="tooltip">€601 raised in November, 2022</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row">Dec</th>
		  <td style="--size: calc( 5605.65 / 10000 )">
			<span class="data">€5605</span>
			<span class="tooltip">€730 raised in December, 2022</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row">Jan</th>
		  <td style="--size: calc( 6428.40 / 10000 )">
			<span class="data">€6428</span>
			<span class="tooltip">€822.75 raised in January, 2023</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row">Feb</th>
		  <td style="--size: calc( 7670.40 / 10000 )">
			<span class="data">€7670</span>
			<span class="tooltip">€1242 raised on February 17th, 2023</span>
		  </td>
		</tr>
		<!--  Here is where new entries need to be added (above this line) with <tr></tr> and everything in between. If we go over 10k, we need to update the # of grid lines and the max value in --size:calc( value/<max value>) in the calculations of each column's height. -->
	  </tbody>
	</table>
</div>
<!--  Here is the end of the chart -->

<section class="posts">
	{% for post in paginator.posts %}
		<article class="post">
			{% include post-heading.html post=post %}
			<div class="image" style="max-width:800px; height:auto " >

				<a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.featured_image }}" alt="{{ post.title }}"></a>
			</div>

			{{ post.excerpt }}

			<p><a class="button" href="{{ site.baseurl }}{{ post.url }}">Read more</a></p>
		</article>
	{% endfor %}

	{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</section>
