---
title: Home
---

<!--  Here is where the chart is generated/stored. We can add new columns relatively easily. -->

<div id="fundraising-progress-chart">
	<table class="charts-css column hide-labels show-primary-axis show-heading show-4-secondary-axes data-end">
	  <caption> <b>PCBakers fundraising cumulative total: € 31.733,12 </b>  <small> <i>(Last updated 16/10/2025)</i> </small>  </caption>
	
	  <tbody>
		  <th scope="row" class="hide-label">May 2022</th>
		  <td style="--size: calc( 1015.50 / 40000 )">
			<span class="tooltip">€1015.50 raised in first bake sale in May, 2022</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Jun</th>
		  <td style="--size: calc( 1999.95 / 40000 )">
			<span class="tooltip">€984.45 raised in June, 2022</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Jul</th>
		  <td style="--size: calc( 2751.95 / 40000 )">
			<span class="tooltip">€752 raised in July, 2022</span>
		  </td>
		</tr>				
		  <th scope="row" class="hide-label">Sep</th>
		  <td style="--size: calc( 3575.15 / 40000 )">
			<span class="tooltip">€823.20 raised in September, 2022</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Oct</th>
		  <td style="--size: calc( 4274.65 / 40000 )">
			<span class="tooltip">€699.50 raised in October, 2022</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Nov</th>
		  <td style="--size: calc( 4875.65 / 40000 )">
			<span class="tooltip">€601 raised in November, 2022</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Dec</th>
		  <td style="--size: calc( 5605.65 / 40000 )">
			<span class="tooltip">€730 raised in December, 2022</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Jan 2023</th>
		  <td style="--size: calc( 6428.40 / 40000 )">
			<span class="tooltip">€822.75 raised in January, 2023</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Feb</th>
		  <td style="--size: calc( 7670.40 / 40000 )">
			<span class="tooltip">€1242 raised on February 17th, 2023</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Feb</th>
		  <td style="--size: calc( 8488.40 / 40000 )">
			<span class="tooltip">€818 raised on February 28th, 2023</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Mar</th>
		  <td style="--size: calc( 9398.40 / 40000 )">
			<span class="tooltip">€910 raised in March, 2023</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Apr</th>
		  <td style="--size: calc( 10653.9 / 40000 )">
			<span class="tooltip">€1255 raised in April, 2023</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">May</th>
		  <td style="--size: calc( 11434.6 / 40000 )">
			<span class="tooltip">€781 raised in May, 2023</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Jun</th>
		  <td style="--size: calc( 12275.80 / 40000 )">
			<span class="tooltip">€841 raised on June 15th, 2023</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Jun</th>
		  <td style="--size: calc( 12878.9 / 40000 )">
			<span class="tooltip">€603 raised on June 21st, 2023</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Jul</th>
		  <td style="--size: calc( 13696.97 / 40000 )">
			<span class="tooltip">€818 raised in July, 2023</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Sep</th>
		  <td style="--size: calc( 14566.12 / 40000 )">
			<span class="tooltip">€859 raised in September, 2023</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Oct</th>
		  <td style="--size: calc( 15156.12 / 40000 )">
			<span class="tooltip">€600 raised on October 10th, 2023</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Oct</th>
		  <td style="--size: calc( 15607.12 / 40000 )">
			<span class="tooltip">€451 raised on October 31st, 2023</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Nov</th>
		  <td style="--size: calc( 16447.12 / 40000 )">
			<span class="tooltip">€840 raised on November 29th, 2023</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Dec</th>
		  <td style="--size: calc( 16907.62 / 40000 )">
			<span class="tooltip">€460 raised on December 19th, 2023</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Jan 2024</th>
		  <td style="--size: calc( 17624.32 / 40000 )">
			<span class="tooltip">€717 raised on January 24th, 2024</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Feb</th>
		  <td style="--size: calc( 18118.82 / 40000 )">
			<span class="tooltip">€495 raised on February 19th, 2024</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Mar</th>
		  <td style="--size: calc( 19202.92 / 40000 )">
			<span class="tooltip">€1084 raised on March 21st, 2024</span>
		  </td
		</tr>
		<tr>
		  <th scope="row" class="hide-label">Apr</th>
		  <td style="--size: calc( 20744.82 / 40000 )">
			<span class="tooltip">€1542 raised on April 18th, 2024</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row" class="hide-label">May</th>
		  <td style="--size: calc( 21667.82 / 40000 )">
			<span class="tooltip">€923 raised on May 22nd, 2024</span>
		  </td>
		</tr>
		
		<tr>
		  <th scope="row" class="hide-label">Jun</th>
		  <td style="--size: calc( 22370 / 40000 )">
			<span class="tooltip">€702 raised on June 13th, 2024</span>
		  </td>		 
		</tr>		 
		<tr>
		  <th scope="row" class="hide-label">Jul</th>
		  <td style="--size: calc( 23110 / 40000 )">
			<span class="tooltip">€740 raised on July 3rd, 2024</span>
		  </td>		 
		</tr>		 
		<tr>
		  <th scope="row" class="hide-label">Oct</th>
		  <td style="--size: calc( 23580 / 40000 )">
			<span class="tooltip">€470 raised on October 29th, 2024</span>
		  </td>		 
		</tr>		 
		<tr>
		  <th scope="row" class="hide-label">Nov</th>
		  <td style="--size: calc( 24786 / 40000 )">
			<span class="tooltip">€1206 raised on November 12th, 2024</span>
		  </td>		 
		</tr>		 
		<tr>
		  <th scope="row" class="hide-label">Nov</th>
		  <td style="--size: calc( 25446 / 40000 )">
			<span class="tooltip">€660 raised on November 20th, 2024</span>
		  </td>		 
		</tr>		 
		<tr>
		  <th scope="row" class="hide-label">Dec</th>
		  <td style="--size: calc( 25948 / 40000 )">
			<span class="tooltip">€502 raised on December 12th, 2024</span>
		  </td>		 
		</tr>		 
		<tr>
		  <th scope="row" class="hide-label">Jan 2025</th>
		  <td style="--size: calc( 26733 / 40000 )">
			<span class="tooltip">€785 raised on January 30th, 2025</span>
		  </td>		 
		</tr>		 
		<tr>
		  <th scope="row" class="hide-label">Feb</th>
		  <td style="--size: calc( 27133 / 40000 )">
			<span class="tooltip">€400 raised on February 26th, 2025</span>
		  </td>		 
		</tr>		 
		<tr>
		  <th scope="row" class="hide-label">Mar</th>
		  <td style="--size: calc( 27965 / 40000 )">
			<span class="tooltip">€832 raised on March 11th, 2025</span>
		  </td>		 
		</tr>		 
		<tr>
		  <th scope="row" class="hide-label">Apr</th>
		  <td style="--size: calc( 28446 / 40000 )">
			<span class="tooltip">€481 raised on April 10th, 2025</span>
		  </td>		 
		</tr>		 
		<tr>
		  <th scope="row" class="hide-label">May</th>
		  <td style="--size: calc( 29070 / 40000 )">
			<span class="tooltip">€624 raised on May 7th, 2025</span>
		  </td>		 
		</tr>		 
		<tr>
		  <th scope="row" class="hide-label">Jun</th>
		  <td style="--size: calc( 29500 / 40000 )">
			<span class="tooltip">€430 raised on June 25th, 2025</span>
		  </td>		 
		</tr>		 
		<tr>
		  <th scope="row" class="hide-label">Jul</th>
		  <td style="--size: calc( 30308 / 40000 )">
			<span class="tooltip">€808 raised on July 17th, 2025</span>
		  </td>		 
		</tr>		 
		<tr>
		  <th scope="row" class="hide-label">Sep</th>
		  <td style="--size: calc( 31108 / 40000 )">
			<span class="tooltip">€800 raised on September 23rd, 2025</span>
		  </td>		 
		</tr>		 
		<tr>
		  <th scope="row" class="hide-label">Oct</th>
		  <td style="--size: calc( 31731 / 40000 )">
			<span class="tooltip">€623 raised on October 15th, 2025</span>
		  </td>
		</tr>
			
	<!-- Here is where new entries need to be added (above this line) with <tr></tr> and everything in between. If we go over 20k, we need to update the # of grid lines and the max value in --size:calc( value/<max value>) in the calculations of each column's height.
		
		<tr>
		  <th scope="row" class="hide-label"></th>
		  <td style="--size: calc(  / 40000 )">
			<span class="hide-label">€</span>
			<span class="tooltip">€ raised on</span>
		  </td>
		</tr>
			
	end of comment -->

		
	  </tbody>
	</table>
</div>
<!--  Here is the end of the chart -->

<section class="posts">
	{% for post in paginator.posts %}
		<article class="post">
			{% include post-heading.html post=post %}
			<div class="image" style="max-width:800px; height:auto " >

				<a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.featured_image }}" alt="{{ post.title }}"></a>
			</div>

			{{ post.excerpt }}

			<p><a class="button" href="{{ site.baseurl }}{{ post.url }}">Read more</a></p>
		</article>
	{% endfor %}

	{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</section>
