---
title: Home
---

<!--  Here is where the chart is generated/stored. We can add new columns relatively easily. -->
<div id="fundraising-progress-chart">
	<table class="charts-css column show-labels show-primary-axis show-heading show-5-secondary-axes">
	  <caption> <b>PCBakers fundraising cumulative total</b> </caption>
	  <tbody>
		<tr>
		  <th scope="row">April</th>
		  <td style="--size: 0.01">
			<span class="data"></span>
			<span class="tooltip">The PCBakers were<br>formed in April 2022</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row">May</th>
		  <td style="--size: calc( 1015.50 / 5000 )">
			<span class="data">€1015.50</span>
			<span class="tooltip">€1015.50 raised in May</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row">June</th>
		  <td style="--size: calc( 1999.95 / 5000 )">
			<span class="data">€1999.95</span>
			<span class="tooltip">€984.45 raised in June</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row">July</th>
		  <td style="--size: calc( 2751.95 / 5000 )">
			<span class="data">€2751.95</span>
			<span class="tooltip">€752 raised in July</span>
		  </td>
		</tr>				
		<tr>
		  <th scope="row">August</th>
		  <td style="--size: calc( 2751.95 / 5000 )">
			<span class="data">€2751.95</span>
			<span class="tooltip">Holidays in August</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row">September</th>
		  <td style="--size: calc( 3575.15 / 5000 )">
			<span class="data">€3575.15</span>
			<span class="tooltip">€823.20 raised in September</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row">October</th>
		  <td style="--size: calc( 4274.65 / 5000 )">
			<span class="data">€4274.65</span>
			<span class="tooltip">€699.50 raised in October</span>
		  </td>
		</tr>
		<tr>
		  <th scope="row">November</th>
		  <td style="--size: calc( 4875.65 / 5000 )">
			<span class="data">€4875.65</span>
			<span class="tooltip">€601 raised in November</span>
		  </td>
		</tr>
		<!--  Here is where new entries need to be added (above this line) with <tr></tr> and everything in between. If we go over 5k, we need to update the # of grid lines and the max value in --size:calc( value/<max value>) in the calculations of each column's height. -->
	  </tbody>
	</table>
</div>
<!--  Here is the end of the chart -->

<section class="posts">
	{% for post in paginator.posts %}
		<article class="post">
			{% include post-heading.html post=post %}
			<div class="image" style="max-width:800px; height:auto " >

				<a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ post.featured_image }}" alt="{{ post.title }}"></a>
			</div>

			{{ post.excerpt }}

			<p><a class="button" href="{{ site.baseurl }}{{ post.url }}">Read more</a></p>
		</article>
	{% endfor %}

	{% if paginator.total_pages > 1 %}
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
			{% endif %}
		</div>
	{% endif %}
</section>
