.container {
	max-width: 1000px;
	margin: 0;
	align-items: center;
    justify-content: center;
}

.main-content {
	@media #{$desktop} {
		display: flex;
		align-items: center;
        justify-content: center;
	}
	padding: 0 30px 50px 30px;
}

.content {
	@media #{$desktop} {
		flex: 1;
		align-items: center;
		justify-content: center;	
	}
}
