<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<link href="//fonts.googleapis.com/css?family=Antic+Slab|Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" media="screen" href="{{ site.baseurl }}/css/screen.css">
		{% if page.print_stylesheet %}
			<link rel="stylesheet" media="print" href="{{ site.baseurl }}/css/print.css">
		{% endif %}
		
		<!-- This loads the charts.min.css file from https://chartscss.org/docs/installation/ so that we can generate pretty charts with css+html for the fundraising tracker-->		
		<link rel="stylesheet" href="{{ site.baseurl }}/css/charts.min.css"> 

		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">

		
	</head>
	<body>
		{% include navigation.html %}
		<header>
			<a href="{{site.baseurl }}/">
				<img src="{{ site.baseurl }}{{ site.data.company_details.logo_image }}" width="180" alt="logo">
			</a>
			<div>
				<a href="https://willblev-github-io.translate.goog/PCBakers/about/?_x_tr_sl=en&_x_tr_tl=es&_x_tr_hl=en&_x_tr_pto=wapp">
					<img src="{{ site.baseurl }}/images/ESP-flag.png" width="30" alt="Español"></a>
				<a href="https://willblev-github-io.translate.goog/PCBakers/about/?_x_tr_sl=en&_x_tr_tl=ca&_x_tr_hl=en&_x_tr_pto=wapp">
					<img src="{{ site.baseurl }}/images/CAT-flag.png" width="30" alt="Català"></a>
			</div>
			<div>
				<h2>Funds raised</h2>
				<table>
					<thead>
					  <tr>
						<th>Month</th>
						<th>Date</th>
						<th>Organizer</th>
						<th>Charity</th>
						<th>Amount raised</th>
						<th>Cumulative total</th>
					  </tr>
					</thead>
					<tbody>
					  <tr>
						<td>May</td>
						<td>25/05/2022</td>
						<td>Will</td>
						<td>Ukraine Crisis Relief Fund (globalgiving.org)</td>
						<td>€1,015.50</td>
						<td>€1,015.50</td>
					  </tr>
					  <tr>
						<td>June</td>
						<td>16/06/2022</td>
						<td>Paula &amp; Will</td>
						<td>Fundació Enllaç</td>
						<td>€984.45</td>
						<td>€1,999.95</td>
					  </tr>
					  <tr>
						<td>July</td>
						<td>13/07/2022</td>
						<td>Julie</td>
						<td>Fundació Privada Putxet</td>
						<td></td>
						<td></td>
					  </tr>
					</tbody>
				</table>
			</div>
			
		</header>
			
		<div class="container main-content">
			<section class="content">{{ content }}</section>
			
		</div>
		<footer>
			<div class="container">
				<hr>
				&copy; {{ site.title }} {{ site.time | date: "%Y" }}. All rights reserved.
			</div>
		</footer>
	</body>
</html>
