<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<link href="//fonts.googleapis.com/css?family=Antic+Slab|Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" media="screen" href="{{ site.baseurl }}/css/screen.css">
		{% if page.print_stylesheet %}
			<link rel="stylesheet" media="print" href="{{ site.baseurl }}/css/print.css">
		{% endif %}
		
		<!-- This loads the charts.min.css file from https://chartscss.org/docs/installation/ so that we can generate pretty charts with css+html for the fundraising tracker-->		
		<link rel="stylesheet" href="{{ site.baseurl }}/css/charts.min.css"> 

		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">

		
	</head>
	<body>
		{% include navigation.html %}
		<header>
			<a href="{{site.baseurl }}/">
				<img src="{{ site.baseurl }}{{ site.data.company_details.logo_image }}" width="180" alt="logo">
			</a>
			<div>
				<a href="https://willblev-github-io.translate.goog/PCBakers/about/?_x_tr_sl=en&_x_tr_tl=es&_x_tr_hl=en&_x_tr_pto=wapp">
					<img src="{{ site.baseurl }}/images/ESP-flag.png" width="30" alt="Español"></a>
				<a href="https://willblev-github-io.translate.goog/PCBakers/about/?_x_tr_sl=en&_x_tr_tl=ca&_x_tr_hl=en&_x_tr_pto=wapp">
					<img src="{{ site.baseurl }}/images/CAT-flag.png" width="30" alt="Català"></a>
			</div>
			<!--  Here is where the chart is generated/stored. We can add new columns relatively easily. -->
			<div id= "my-chart">
				<table class="charts-css column show-labels show-primary-axis show-data-on-hover show-heading show-5-secondary-axes">
				  <caption> PCBakers total funds raised </caption>
				  <tbody>
					<tr>
					  <th scope="row">April</th>
					  <td style="--size: 0.01">
						<span class="data">€0</span>
						<span class="tooltip">The PCBakers were<br>formed in April 2022</span>
					  </td>
					</tr>
					<tr>
					  <th scope="row">May</th>
					  <td style="--size: calc( 1015.50 / 5000 )">
						<span class="data">€1015.50</span>
						<span class="tooltip">€1015.50 raised in May</span>
					  </td>
					</tr>
					<tr>
					  <th scope="row">June</th>
					  <td style="--size: calc( 1999.95 / 5000 )">
						<span class="data">€1999.95</span>
						<span class="tooltip">€984.45 raised in June</span>
					  </td>
					</tr>
					<tr>
					  <th scope="row">July</th>
					  <td style="--size: calc( 1999.95 / 5000 )">
						<span class="data">€1999.95</span>
						<span class="tooltip">€??? raised in July</span>
					  </td>
					</tr>
				  </tbody>
				</table>
				<div class="primary-axis"> Date </div>
				<div class="data-axis"> € raised <br><i>(1k grid)</i></div>
			</div>
			
		</header>
			
		<div class="container main-content">
			<section class="content">{{ content }}</section>
			
		</div>
		<footer>
			<div class="container">
				<hr>
				&copy; {{ site.title }} {{ site.time | date: "%Y" }}. All rights reserved.
			</div>
		</footer>
	</body>
</html>
