<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<link href="//fonts.googleapis.com/css?family=Antic+Slab|Fira+Sans" rel="stylesheet">
		<link rel="stylesheet" media="screen" href="{{ site.baseurl }}/css/screen.css">
		{% if page.print_stylesheet %}
			<link rel="stylesheet" media="print" href="{{ site.baseurl }}/css/print.css">
		{% endif %}
		
		<!-- This loads the charts.min.css file from https://chartscss.org/docs/installation/ so that we can generate pretty charts with css+html for the fundraising tracker-->		
		<link rel="stylesheet" href="{{ site.baseurl }}/css/charts.min.css"> 

		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">

		
	</head>
	<body>
		{% include navigation.html %}
		<header>
			<a href="{{site.baseurl }}/">
				<img src="{{ site.baseurl }}{{ site.data.company_details.logo_image }}" width="180" alt="logo">
			</a>
			<div>
				<a href="https://willblev-github-io.translate.goog/PCBakers/about/?_x_tr_sl=en&_x_tr_tl=es&_x_tr_hl=en&_x_tr_pto=wapp">
					<img src="{{ site.baseurl }}/images/ESP-flag.png" width="30" alt="Español"></a>
				<a href="https://willblev-github-io.translate.goog/PCBakers/about/?_x_tr_sl=en&_x_tr_tl=ca&_x_tr_hl=en&_x_tr_pto=wapp">
					<img src="{{ site.baseurl }}/images/CAT-flag.png" width="30" alt="Català"></a>
			</div>
			<div>
				<table class="charts-css area show-labels">
					<caption> Funds raised by PCBakers</caption>
					<tbody>
						<tr>
						  <th scope="row"> Label </th>
							<td> April </td>
							<td> May </td>
							<td> June </td>
							<td> July </td>
						</tr>
						<tr>
						  <td style="--start: 0.0; --size: calc( 0 / 100 )"> <span class="data"> €1,015.50 </span> </td>
						</tr>
						<tr>
						  <td style="--start: 0.0 ; --size: calc( 10.15 / 100 )"> <span class="data"> €1,015.50 </span> </td>
						</tr>
						<tr>
						  <td style="--start: 10.15 ; --size: calc( 19.99 / 100 )"> <span class="data"> €1,999.95 </span> </td>
						</tr>
						<tr>
						  <td style="--start: 19.99; --size: calc( 26.34 / 100 )"> <span class="data"> €2,634.45 </span> </td>
						</tr>
					</tbody>
					
				</table>
			</div>
			<div>
				<table class="charts-css column multiple show-labels show-primary-axis data-spacing-20" id="tooltips-example">

				  <caption> 2016 Summer Olympics Medal Table </caption>

				  <thead>
					<tr>
					  <th scope="col"> Country </th>
					  <th scope="col"> Gold </th>
					  <th scope="col"> Silver </th>
					  <th scope="col"> Bronze </th>
					</tr>
				  </thead>

				  <tbody>
					<tr>
					  <th scope="row"> USA </th>
					  <td style="--size: calc( 46 / 50 );">
						<span class="data"> 46 <br> 🥇 </span>
						<span class="tooltip"> United States took <br> home 46 gold medals </span>
					  </td>
					  <td style="--size: calc( 37 / 50 );">
						<span class="data"> 37 <br> 🥈 </span>
						<span class="tooltip"> United States took <br> home 37 silver medals </span>
					  </td>
					  <td style="--size: calc( 38 / 50 );">
						<span class="data"> 38 <br> 🥉 </span>
						<span class="tooltip"> United States took <br> home 38 bronze medals </span>
					  </td>
					</tr>
					<tr>
					  <th scope="row"> GBR </th>
					  <td style="--size: calc( 27 / 50 );">
						<span class="data"> 27 </span>
						<span class="tooltip"> Great Britain took <br> home 27 gold medals </span>
					  </td>
					  <td style="--size: calc( 23 / 50 );">
						<span class="data"> 23 </span>
						<span class="tooltip"> Great Britain took <br> home 23 silver medals </span>
					  </td>
					  <td style="--size: calc( 17 / 50 );">
						<span class="data"> 17 </span>
						<span class="tooltip"> Great Britain took <br> home 17 bronze medals </span>
					  </td>
					</tr>
					<tr>
					  <th scope="row"> CHN </th>
					  <td style="--size: calc( 26 / 50 );">
						<span class="data"> 26 </span>
						<span class="tooltip"> China took home <br> 26 gold medals </span>
					  </td>
					  <td style="--size: calc( 18 / 50 );">
						<span class="data"> 18 </span>
						<span class="tooltip"> China took home <br> 18 silver medals </span>
					  </td>
					  <td style="--size: calc( 26 / 50 );">
						<span class="data"> 26 </span>
						<span class="tooltip"> China took home <br> 26 bronze medals </span>
					  </td>
					</tr>
				  </tbody>

				</table>
			</div>
			
		</header>
			
		<div class="container main-content">
			<section class="content">{{ content }}</section>
			
		</div>
		<footer>
			<div class="container">
				<hr>
				&copy; {{ site.title }} {{ site.time | date: "%Y" }}. All rights reserved.
			</div>
		</footer>
	</body>
</html>
